:root {
  --search-input-w: 300px;
  --btn-w: 24px;
}

.search-holder {
    position: relative;

    .search-input-container {
        position: relative;
        @media only screen and (min-width: 768px) {
            max-width: 50%;
        }
        input {
            width: 100%;
        }
        .search-loader {
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            top: 50%;
            display: flex;
            align-items: center;
            .loader {
                width: calc(0.5 * var(--btn-w));
                height: calc(0.5 * var(--btn-w));
                border: 1px solid #333;
                border-bottom-color: transparent;
                border-radius: 50%;
                display: inline-block;
                box-sizing: border-box;
                animation: rotation 1s linear infinite;
            }
        }
    }

    &__inline {
        .search-input-container {
            display: flex;
            justify-content: flex-end;
            width: auto;
            max-width: none;
            .search-bar{
                display: flex;
                width:0;
                overflow: hidden;
                transition-property: width;
                transition-duration: .3s;
                .btn__close {
                    margin-left:calc(-1 * var(--btn-w));
                    color: black;
                }
                &.active {
                    width:var(--search-input-w);
                }
            }
            .search-loader {
                right: calc(0.5rem + var(--btn-w));
            }
        }
    }

    .btn {
        background-color: transparent;
        padding:0;
        margin:0;
        width:var(--btn-w);
        display: flex;
        align-items: center;
    }
}

.search-result__inline {
    position: absolute;
    top:2.5rem;
    right: 0;
    background: white;
    z-index: 100;
    min-width: var(--search-input-w);
    min-height: 50px;
    box-shadow: rgba(100,100,100,.2) 0px 7px 24px 0px;
    ul {
        border-top: 1px solid black;
        max-height: 50vh;
        overflow-y: auto;
        li {
            border-bottom: 1px solid black;
        }
    }
    > div {
        padding: 1rem;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 





// utility classes

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.hidden {
    display: none;
}






// some classes, when simple them is used

.search-holder {
    // prevent floating, when used with simple theme
    .btn {
        float: none;
    }
}

.search-bar {
    // reset positioning, when used with simple theme
    position: inherit;
    right: auto;
    left: auto;
    top: auto;
    background-color: transparent;
    padding:0;
}

.header .lastUnit {
   overflow: inherit;
}
.header nav {
    display: none;
}
