:root {
    --search-input-w: 15rem;
    --search-input-padding: 0.5rem;
    --search-resultinline-w: 20rem;
    --search-btn-w: 24px;
    --search-space: 0.5rem;
}

.search-holder {
    position: relative;
    .search-input-container {
        position: relative;
        @media only screen and (min-width: 768px) {
            max-width: 50%;
        }
        label {
            display: flex;
            align-items: center;
        }
        .search-bar {
            display: flex;
            align-items: center;   
            input[type=text] {
                width: 100%;
                border: 1px solid gray;
                padding: var(--search-input-padding);
            }
        }

        .search-loader {
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            top: 50%;
            display: flex;
            align-items: center;
            &:before {
                content: "";
                width: calc(0.5 * var(--search-btn-w));
                height: calc(0.5 * var(--search-btn-w));
                border: 1px solid #333;
                border-bottom-color: transparent;
                border-radius: 50%;
                display: inline-block;
                box-sizing: border-box;
                animation: rotation 1s linear infinite;
            }
        }

        .btn {
            cursor: pointer;
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            width: var(--search-btn-w);
            display: inline-flex;
            align-items: center;
        }
    }


    &__inline {

        // This is the css without toggle option
        .search-input-container {
            display: flex;
            width: auto;
            max-width: none;
            label{
                z-index: 1;
                position: absolute;
                left: var(--search-input-padding);
                transform: translateY(-50%);
                top: 50%;
                .btn__search{
                    pointer-events: none;
                }
            }
            .search-bar {
                display: flex;                
                input[type=text] {
                    padding-inline-start: calc(var(--search-btn-w) + var(--search-input-padding)*2);
                    width: var(--search-input-w);
                }
                .btn__close {
                    display: none;
                }
            }

            .search-loader {
                right: calc(var(--search-btn-w) * 0.5 + var(--search-input-padding));
            }
        }


        // This is the css with toggle option
        &.toggle {
            .search-input-container {
                label{
                    margin-right: inherit;
                    .btn__search{
                        pointer-events: inherit;
                    }
                }
                .search-bar {
                    width: 0px;
                    overflow: hidden;
                    transition-property: width;
                    transition-duration: .3s;
                    input[type=text] {
                        padding-inline-start: calc(var(--search-input-padding) + var(--search-btn-w) * 1.5);
                    }
                    .btn__close {
                        display: inline-flex;
                        margin-left: calc(-1.1 * var(--search-btn-w));
                        color: black;
                        z-index: 1;
                    }
                    &.active {
                        width: var(--search-input-w);
                    }
                }
                .search-loader {
                    right: calc(var(--search-btn-w) + var(--search-input-padding));
                }
            }
        }
    }

    .search-result {
        ul.search-result__list {
            list-style-type: none;
            padding: 0;
            margin: var(--search-space) 0;
            a {
                display: flex;
                flex-direction: column;
                text-overflow: ellipsis;
                padding: var(--search-space) 0;
                text-decoration: none;
                .search-result__headline {
                    font-weight: 700;
                }
                &:hover{
                    .search-result__headline {
                        text-decoration: underline;
                    }
                }
            }
        }

        &__inline {
            position: absolute;
            top: 2.5rem;
            right: auto;
            left: 0;
            background: white;
            z-index: 100;
            width: 100%;
            min-height: 50px;
            box-shadow: rgba(100, 100, 100, .2) 0px 7px 24px 0px;
            @media only screen and (min-width: 768px) {
                width: var(--search-resultinline-w);
                left: auto;
                right: 0;
            }

            ul.search-result__list {
                border-top: 1px solid black;
                max-height: 50vh;
                overflow-y: auto;
                li {
                    border-bottom: 1px solid black;
                }
            }

            > div {
                padding: 1rem;
            }
        }

        &__noresult {
            display: block;
        }
    }
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


// utility classes

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.hidden {
    display: none !important;
}


// some classes, when simple theme is used

.search-holder {
    // prevent floating, when used with simple theme
    .btn {
        float: none;
    }
}

.search-holder .search-bar {
    // reset positioning, when used with simple theme
    position: inherit;
    right: auto;
    left: auto;
    top: auto;
    background-color: transparent;
    padding: 0;
}

.header .lastUnit {
    overflow: inherit;
}

.header nav {
    display: none;
}
